body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: #f0eeee;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  max-width: 1280px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-container img {
  height: auto;
  width: 120px;
  object-fit: cover;
}

nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: normal;
  font-size: 16px;
}

nav a:last-child {
  background-color: #2f3f55;
  color: white;
  padding: 14px 22px;
  border-radius: 10px;
}

nav a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
}

P {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}
h1 {
  font-family: Times;
  color: FF3F00;
  font-size: x-large;
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}
.gedasa {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  color: #006699;
  text-decoration: underline;
  line-height: normal;
}

@media (max-width: 768px) {
  .aeronautica-image {
    width: 100%;
    height: auto;
  }
}
